.coinList{
    position: relative;
    margin: auto;
    border: solid 3px black; 
}

.table{
    margin: auto;
    border: solid 3px purple; 
}

.table thead th{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    background-color: skyblue;
    padding: 10px 75px;
}

.table tbody tr{
    border-bottom: 1px solid #dddddd;
    height: 100px;
    font-weight: bold;
    color: black;
    background-color: #f3f3f3;
}
tr{
    border-bottom: 3px solid black;
}
.coinImg{
    max-height: 50px;
    margin: auto;
    display: flex;
}