.table{
    position: relative;
    top: 100px;
    left: 425px;
    
    border-spacing: 0 50px;
}

.tableHeader{
    
    color: black;
}


/* Table Labels */
.col-rank{
    position: relative;
    left: 25px;
    padding-right: 50px;
}
.col-price{
    position: relative;
    left: 35px;
    padding-right: 75px;
}
.col-24h{
    position: relative;
    left: 60px;
    padding-right: 100px;
}
.col-market{
    position: relative;
    left: 60px;
    padding-right: 100px;
}
.col-supply{
    position: relative;
    left: 60px;
    padding-right: 100px;
}


/* Cryptocurrency Section */
.coinCard{
    position: relative;
    margin: 50;
    outline: solid black;
    height: 100px;
}
.coinURL{
    text-decoration: none;
    color: white;
}
.coinNameContainer{
    position: relative;
    top: 5px;
    text-align: left;
    left: 85px;
    
}
.coinItem{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.coinImage{
    position: relative;
    height: 50px;
    top: 20px;
    left: -40px;
}
.coinName{
    position: relative;
    top: -35px;
    left: 30px; 
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-right: 100px;
    color: black;
    font-weight: 500;
}
.coinPrice{
    position: relative;
    top: 40px;
    display: flex;
    text-align: right;
    box-sizing: border-box;
    padding-left: 20px;
    
}
.coin24H{
    position: relative;
    padding-left: 10px;
    top: -3px;
    left: 5px;
    font-size: 20px;
    font-weight: 500;
  
}
.coinMarketCap{
    position: relative;
    padding-left: 10px;
    top: -3px;
    left: 5px; 
}
.coinSupply{
    position: relative;
    padding-left: 10px;
    top: -3px;
    left: 5px;
}