.currencyTable{
    position: relative;
    /* top: 155px;
    padding-left: 780px; */
    margin: auto;
    max-width: 500px;
    width: 100%;
    display: inline-block;
}

.currencyTable thead tr{
    position: relative;
    margin: auto;
    text-align: center;
}
















/* 
.col-mc{
    position: relative;
    padding-right: 25px;
}
.col-vol{
    position: relative;
    left: 25px;
    padding-right: 50px;
}
.col-cirSupply{
    position: relative;
    left: 25px;
    padding-right: 50px;
}
.col-max{
    position: relative;
    left: 25px;
    padding-right: 50px;
}
.row-mc{
    position: relative;
    padding-right: 25px;
    
}
.row-vol{
    position: relative;
    left: 25px;
    padding-right: 50px;
}
.row-cirSupply{
    position: relative;
    left: 25px;
    padding-right: 50px;

}
.row-max{
    position: relative;
    left: 25px;
    padding-right: 50px;

} */