.linksList{
    position: relative;
    margin: auto;
    /* height: 50px;
    width: 10px;
    left: 375px;
    top: 85px; */
    display: inline-block;
    padding-top: 30px;
    width: 100%;
    font-size: 1.25em;
}
ul{
    list-style-type: none;
}
li{
    position: relative;
    left: -40px;
}
.logo{
    position: relative;
    padding-right: 20px;
    top: 2px;
}