.currencyPage{
    position: relative;
    
}
/* Currency Basic */ 
.currencyBasic{
    position: relative;
    top: 150px;
    left: 300px;
    width: 100px;
    padding-bottom: 100px;
}
.currencyNameImg{
    position: relative;
    left: 50px; 
    display: flex;
}
.currencyName{
    position: relative;
    font-weight: 500;
    left: 20px;
}
.currencyPrice24H{
    position: relative;
    top: -69px;
    left: 400px; 
    width: 50px;
    display: flex;
    font-size: 24px;
}
.currencyPrice{
    position: relative;
    left: 100px;
}
.currency24H{
    position: relative;
    left: 175px;
    font-weight: 500;
}

